
#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.hero .content {
    text-align: center;
    position: absolute;
    margin: auto;
    padding: 0 15% 0 15%;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    top: 30vh;
}

.hero .content h1 {
    font-size: 5rem;
    color: #fff;
}

.hero p {
    font-size: 1rem;
    font-weight: 200;
    text-transform: uppercase;
    padding: 5rem;
    color: #fff;
}

.hero .btn {
    margin: 1rem .8rem 0 5rem;
}

@media screen and (max-width:640px) {

    #video {
        height: 150vh;
        object-fit: cover;
        object-position: center;
    }

    .content h1 {
        font-size: 1rem;
        line-height: auto;
    }

    .content p {
        font-size: .75rem;
        margin-bottom: 1.6rem;
        padding: 0;
        max-width: 100%;
    }

    .hero .btn {
        margin: 1rem;
        display: inline-block;
    }
}
